---
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<h1>Frog Forum</h1>
{JSON.stringify(session)}
{
  session ? (
    <>
      <p>Signed in as {session.user?.email}</p>
      <SignOut>sign out</SignOut>
    </>
  ) : (
    <SignIn provider='auth0'>sign in</SignIn>
  )
}
