---
//@ts-nocheck
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
import fetchData from "../utils/fetch";
const session = await getSession(Astro.request);
let user = {};
if (session) {
  user = await fetchData(
    `/users/getByAuthId?authId=${session?.user?.id}`,
    Astro
  );
}
---

<h1>Frog Forum</h1>
{
  session ? (
    <>
      <p>{`Signed in as ${user.first_name} ${user.last_name} (${user.email})`}</p>
      <SignOut>sign out</SignOut>
    </>
  ) : (
    <SignIn provider='auth0'>sign in</SignIn>
  )
}
